---
Checks: >
  bugprone-*,
  performance-*,
  readability-*,
  portability-*,
  clang-analyzer-*,
  cert-*,
  security-*
WarningsAsErrors: '*'
HeaderFilterRegex: 'src/.*|include/.*'
CheckOptions:
  - key: cert-dcl16-c.NewSuffixList
    value: 'L,UL,ULL'
